<!DOCTYPE html>
<html lang="en">
<head th:replace="base::commonHeader(_,_,_)">
<body>
<h1 style="text-align: center" th:text="Hello">Hello: </h1>
<h2 style="text-align: center" th:if="${user} ne null" th:text="${user.name}"></h2>
<h2 style="text-align: center" th:unless="${user} ne null"><a th:href="@{login.html}">Please Login</a></h2>
<h2 th:if="${user} ne null">
    <form id="_form" method="post" action="/logout" style="text-align: center">
        <a href="javascript:void()" onclick="document.getElementById('_form').submit();">Logout</a>
    </form>
</h2>

<h2>current: </h2>

<h3 th:if="${current} ne 0" th:text="${current}"></h3>
<h3 th:unless="${current} ne 0">Root</h3>
<br>

<h3><a href="/search/0">Back2Index 🔙</a></h3>

<form method="post" action="/import/chrome" enctype="multipart/form-data">
    <div>
        <input name="file" type="file">
        <button type="submit">Import Chrome Bookmarks</button>
    </div>
</form>

<form method="post" action="/folder/create">
    <div>
        <input name="name" placeholder="folder name">
        <input name="parentId" placeholder="parent folder id" th:value="${currentFolderId}">
        <button type="submit">Create Folder</button>
    </div>
</form>

<form method="post" action="/bookmark/create">
    <div>
        <input name="name" placeholder="bookmark name">
        <input name="folderId" placeholder="folder Id" th:value="${currentFolderId}">
        <input name="url" placeholder="url">
        <button type="submit">Create Bookmark</button>
    </div>
</form>

<table style="width: 100%;margin: 5px;" border="1px solid #ccc" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Bookmark Icon</th>
        <th>Url</th>
        <th>Action</th>
        <th style="color: red">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item:${folders.items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.code}"></td>
        <td th:text="${item.name}"></td>
        <td></td>
        <td></td>
        <td>
            <form th:id="@{'_search_'+${item.id}}" method="get" th:action="@{'/search/'+${item.id}}">
                <a href="javascript:void()"
                   th:onclick="@{'document.getElementById(\'_search_' + ${item.id} +'\').submit();'}"> 🔜 goto
                    folder</a>
            </form>
        </td>
        <td>
            <form th:id="@{'_folder_delete_'+${item.id}}" method="post" th:action="@{'/folder/delete/'+${item.id}}">
                <a href="javascript:void()"
                   th:onclick="@{'document.getElementById(\'_folder_delete_' + ${item.id} +'\').submit();'}"> ⚠️ delete
                    folder</a>
            </form>
        </td>

    </tr>

    <tr th:each="item:${bookmarks.items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.code}"></td>
        <td th:text="${item.name}"></td>
        <td>
            <img th:src="${item.icon}" width="32px" height="32px" alt="" onerror="this.style.display='none'"/>
        </td>
        <td style="overflow: hidden;width: 200px" th:text="${item.url}"></td>
        <td><a th:href="${item.url}" target="_blank">🔜 go</a></td>
        <td>
            <form th:id="@{'_bookmark_delete_'+${item.id}}" method="post" th:action="@{'/bookmark/delete/'+${item.id}}">
                <a href="javascript:void()"
                   th:onclick="@{'document.getElementById(\'_bookmark_delete_' + ${item.id} +'\').submit();'}"> ⚠️
                    delete
                    bookmark</a>
            </form>
        </td>
    </tr>
    </tbody>

</table>


</body>
<style>
    table {
        table-layout: fixed;
        WORD-BREAK: break-all;
    }

    div {
        padding: 5px;
    }
</style>
</html>